ul{
    padding: 0px;
    width: 200px;
    background-color: white !important;
    /* ！important防止点击到ul时造成的背景颜色变蓝 */
}
li{
    list-style: none;
    text-align: left;
    font-size:20px;
    display: block;
    background-color: gainsboro;
    width:200px;
    height: 30px;
    margin-bottom: 10px;
    border:none;
    cursor: pointer;
    
}
#list{
    width: 200px;
    border: 0px;
}